body {
	background-color: #9b50ba;
	font-family: sans-serif;
	background: url(../../img/bg.jpg) no-repeat;
	background-size: cover;
}

h1 {
	color: red;
	margin-left: 20px;
}

.p-btn-holder{
text-align: center;
}

.footer-height{

	height: 480px;
}

.p-btn-holder a{    
	border: 1px solid #ccc;
    width: 220px;
    height: 190px;
    display: inline-block;
    margin: 15px;
    padding: 20px;
    border: none;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    border-radius: 5px;

}

.inv{
	height: 140px;
    width: 152px;
}

.abc div{
	display: inline-block;
}

.p-btn-holder a:hover{
background: #EEE
}
.p-btn-holder a img{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

.opt-head{
	text-align: center;
	margin-bottom: 40px;
}

.form-group{
	margin-left: 10px;
}

.topic{
	font-size: 28px;
}

.topic-sm{
	font-size: 23px;
}

.gap{
	margin: 10px;
}
.in-line-inside li{
	display: inline-block;
	margin-left: 3px;
}


.cert_level div{
	display: inline-block;
	margin:0 30px 0 0;
}




/*Addy*/

.vv-center{
	width: 610px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255,255,255,.8);
    box-shadow: 0 2px 10px #CCC;
    border-radius: 5px;
}


.navbar-default{
	background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
}

.navbar-default .navbar-brand{
	color:#FFF !important;
}

.navbar-default .navbar-nav>li>a{color:#FFF !important;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:#FFF !important;
	opacity:.8 !important;
	background-color: #333 !important;
}

.btn{
	text-transform: uppercase;
}

button, input, select, textarea{
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /* display: block; */
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #CCC;
}

form li{
	margin:10px 0;
}

form li input{
	margin: 10px 0;
}

tr input{
	margin: 10px;
}


ul,ol{
	padding: 0;
}
li{
	list-style: none;
}

.form-group input[type='radio']{

	margin-left: 10px;
	margin-right: 5px;
}

.form-group h1, .form-group h2{
    color: #333;
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 60px;
}
.topic-sm{    color: #333;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;}


.form-group{
	position: relative;
}
.form-group label{
	display: block;
	font-size: 14px;
}
.form-group span{
	    position: absolute;
    top: 37px;
    right: 10px;
}

.form-group.double input{
	width: 35% !important;
	display: inline-block;
	}
	.form-group.double select{
	width: 35% !important;
	display: inline-block;
	}
.form-group.double span{
	position: static; 
	display: inline-block;
	margin: 0 5px;
}

.form-group.triple input{
	width: 25% !important;
display: inline-block;
}
.form-group.triple span{
	position: static;
}
.form-group.triple select{
	width: 15% !important;
	display: inline-block;
}

.form-group.inline-items input{
	width: 150px;
	display: inline-block;
}
.form-group.inline-items span{
	position: static;
}

.btn.btn-success{
	margin-left: 10px;
	margin-top: 20px;
}




.checkbox-holder label{
	display: inline-block;
}


.form-control{
	width:95% !important;
}


.nonbold{
	font-weight: normal;
}

.indented{
	margin-left: 20px !important;
}
.indented.form-control{
	width:91%;
}


/*Baag*/


.spn_1{
	margin-right: -20px;
}

.spn_2{
	margin-right: -10px;
}

.spn_3{
	margin-right: -10px;
}

.spn_4{
    margin-right: 150px;
}

.excel{
	
    padding-left: 97%;
}

    .procs{
    margin-right: -2px;
}