/* CSS Document */
/* line 2, style.scss */
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background: url(../../img/bg.jpg) no-repeat;
}

/* line 9, style.scss */
.padding5px {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #606060;
}

/* line 15, style.scss */
.txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #606060;
}

/* line 20, style.scss */
.txtfld {
  border: 1px solid #4196AF;
}

/* line 23, style.scss */
.bigWhite {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

/* line 28, style.scss */
.menuLinks {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #146982;
  text-decoration: none;
}

/* line 34, style.scss */
a.menuLinks {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #146982;
  text-decoration: none;
}

/* line 40, style.scss */
.menuLinks:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #146982;
  text-decoration: underline;
}

/* line 46, style.scss */
.warning {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FF0000;
}

/* line 51, style.scss */
.warning1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  color: #FF0000;
}

/* line 56, style.scss */
.warningBig {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #FF0000;
}

/* line 61, style.scss */
.orangetxt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #F06E07;
  text-decoration: none;
}

/* line 67, style.scss */
.orange_link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #F06E07;
  text-decoration: none;
}

/* line 73, style.scss */
.orange_link:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #F06E07;
  text-decoration: underline;
}

/* line 79, style.scss */
a.orangetxt {
  text-decoration: none;
}

/* line 82, style.scss */
a.orangetxt:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #F06E07;
  text-decoration: underline;
}

/* line 88, style.scss */
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #606060;
  font-weight: bold;
}

/*.title.index_page { color: #fff;}*/
/* line 95, style.scss */
.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #606060;
  font-weight: bold;
}

/* line 101, style.scss */
.oddRow {
  background-color: #F6F6F6;
}

/* line 104, style.scss */
.evenRow {
  background-color: #FFFFFF;
}

/* line 107, style.scss */
form {
  margin: 0;
  padding: 0;
}

/* line 111, style.scss */
.button {
  font: 11px arial;
  background: #fff;
  border: 1px solid #000;
}

/* line 116, style.scss */
.style7 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

/* line 121, style.scss */
.style7-footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
}

/* line 126, style.scss */
.left_menu ul {
  padding: 0;
  margin: 0;
}

/* line 127, style.scss */
.left_menu li {
  list-style: none;
  margin-bottom: 1px;
}

/* line 128, style.scss */
.left_menu li a {
  background: #EE6D6E;
  display: block;
  padding: 10px 20px;
  color: #fff;
}

/* line 129, style.scss */
.left_menu li:hover a {
  background: #EE6D6E;
  color: #fff;
  text-decoration: none;
}

/* line 130, style.scss */
.btn-primary {
  background: #416CB4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

/*Addy*/
/* line 135, style.scss */
.vv-center {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px #CCC;
  border-radius: 5px;
}

/* line 147, style.scss */
.navbar-default {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
  border-color: #e7e7e7;
}
/* line 152, style.scss */
.navbar-default * {
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
/* line 157, style.scss */
.navbar-default *:hover {
  color: #FFF;
}

/* line 163, style.scss */
.navbar-default .navbar-brand {
  color: #FFF !important;
}

/* line 168, style.scss */
.btn {
  text-transform: uppercase;
}

/* line 173, style.scss */
ul {
  padding: 0;
}

/* line 176, style.scss */
li {
  list-style: none;
}

/* line 185, style.scss */
.logo-wrapper {
  text-align: center;
  margin: 50px;
}
/* line 188, style.scss */
.logo-wrapper img {
  width: 200px;
  display: inline-block;
}

/* line 196, style.scss */
.vv-center.login label {
  display: block;
}
/* line 199, style.scss */
.vv-center.login input {
  border: 1px solid #CCC;
  padding: 12px;
  border-radius: 9px;
  font-size: 21px;
  text-align: center;
}

/* line 207, style.scss */
input[type=button], .v-btn, .btn-primary, .btn-info {
  background-color: #ED245D !important;
  color: #FFF;
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: bold;
  border: none !important;
  box-shadow: 0 0 6px 0px #CCC;
  letter-spacing: 1px;
}

/* line 217, style.scss */
body.login-body {
  background: url(../img/bg.jpg);
  /*background-size: cover;*/
}

/* line 221, style.scss */
body {
  background: url(../img/bg.jpg);
  /*background-size: cover;*/
}

/* line 225, style.scss */
textarea {
  width: 100%;
}

/* line 228, style.scss */
.dash-img {
  width: 100%;
}

/* line 232, style.scss */
.footer {
  width: 100%;
  position: absolute;
  bottom: 5px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}
