/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background: url(../../img/bg.jpg) no-repeat;
}
.padding5px {
	text-align:justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #606060;
}
.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #606060;
}
.txtfld{
border:1px solid #4196AF;
}
.bigWhite{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}
.menuLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #146982;
	text-decoration:none;
}
a.menuLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #146982;
	text-decoration:none;
}
.menuLinks:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #146982;
	text-decoration:underline;
}
.warning {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
.warning1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #FF0000;
}
.warningBig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #FF0000;
}
.orangetxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F06E07;
	text-decoration:none;
}
.orange_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F06E07;
	text-decoration:none;
}
.orange_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F06E07;
	text-decoration:underline;
}
a.orangetxt {
	text-decoration:none;
}
a.orangetxt:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #F06E07;
	text-decoration:underline;
}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #606060;
	font-weight:bold;
}
/*.title.index_page { color: #fff;}*/
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #606060;
	font-weight:bold;
}
.oddRow {
background-color: #F6F6F6;
}
.evenRow {
background-color: #FFFFFF;
} 
form{
margin:0;
padding:0;
}
.button{
font:11px arial;
background:#fff;
border:1px solid #000;
}
.style7 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
.style7-footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.left_menu ul { padding: 0; margin: 0;}
.left_menu li { list-style: none; margin-bottom: 1px;}
.left_menu li a { background: #EE6D6E; display: block; padding: 10px 20px; color: #fff;}
.left_menu li:hover a { background: #EE6D6E; color: #fff; text-decoration: none;}
.btn-primary { background: #416CB4; color: #fff; border: none; cursor: pointer; padding: 5px 10px;}


/*Addy*/

.vv-center{
	width: 100%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255,255,255,.8);
    box-shadow: 0 2px 10px #CCC;
    border-radius: 5px;


}


.navbar-default{
	 background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png"); 
	   
        border-color: #e7e7e7;

        *{
        	color: #FFF;
        	    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    		&:hover{
    			color:#FFF;
        }
    }
}  

.navbar-default .navbar-brand{
	color:#FFF !important;
}


.btn{
	text-transform: uppercase;
}


ul{
	padding: 0;
}
li{
	list-style: none;
}

li .form-group{

}


.logo-wrapper{
	text-align: center;
	margin: 50px;
	img{
		width: 200px;
		display: inline-block;

	}
}

.vv-center.login{
	label{
		display: block;
	}
	input{
	    border: 1px solid #CCC;
    padding: 12px;
    border-radius: 9px;
    font-size: 21px;
    text-align: center;
	}
}
input[type=button],.v-btn,.btn-primary,.btn-info  {
	    background-color: #ED245D !important;
    color: #FFF;
    font-size: 14px !important;
    text-transform: uppercase;
    font-weight: bold;
    border: none !important;
    box-shadow: 0 0 6px 0px #CCC;
    letter-spacing: 1px;
}
body.login-body{
	background: url(../img/bg.jpg);
	/*background-size: cover;*/
}
body{
	background: url(../img/bg.jpg);
	/*background-size: cover;*/
}
textarea{
	width: 100%;
}
.dash-img{
	width: 100%;
}

.footer{
	width: 100%;
	position: absolute;
	bottom:5px;
	color:#FFF;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
}